.card {
  position: relative;
}

.card img {
  width:100%;
  display: block;
}
/* mobile L (425) */
@media (max-width:425px) {
  .card img {
    width: 20vw;
  }
}
/* mobile M (375) */
@media (max-width:375px) {
  .card img {
    width: 21vw;
  }
}
/* mobile S (320) */
@media (max-width:320px) {
  .card img {
    width: 25vw;
  }
}


/* front of card  */
.card .front {
  /* hid by rotating in Y axis */
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of the card */
.card .back {
  cursor: pointer;
  transition: all ease-in 0.2s;
  transition-delay: 0s;
}
.card .back:hover {
  cursor: pointer;
  border: 1px solid white;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0.2s;
}

.unmatched {
  opacity: 0.2;
}
