.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
}

/* mobile L (425) */
@media (max-width: 425px) {
  .card img {
    width: 20vw;
  }
}
@media (max-width: 414px) {
  .card img {
    width: 100%;
  }
}
/* mobile M */
@media (max-width: 375px) {
  .card img {
    width: 16vw;
  }
}
@media (max-width: 360px) {
  .card img {
    width: 22vw;
  }
}

/* mobile S (320) */
@media (max-width: 320px) {
  .card img {
    width: 25vw;
  }
}

/* front of card  */
.card .front {
  /* hid by rotating in Y axis */
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of the card */
.card .back {
  cursor: pointer;
  transition: all ease-in 0.2s;
  transition-delay: 0s;
}
.card .back:hover {
  cursor: pointer;
  border: 1px solid white;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0.2s;
}

.unmatched {
  opacity: 0.2;
}

.pop_me {
  animation: animate-pop 0.5s linear;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
