@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Marvel", serif;
  background-color: #210225;
}

body {
  margin: 0;
  
}

 img,
picture,
iframe {
  display:block;
  width: 100%;
  margin: auto;
  
  
} 



.backdrop {
  color: white;
  text-align: center;
  margin-top: 1.5em;
}

.logo {
  width: 120px;
}
@media (max-width: 480px) {
  .logo {
    margin-top: 2.5em;
  }
}

.big-font {
  font-size: 3.5rem;
}

.mid-font {
  font-size: 1.5rem;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: #ed1d24;
  }
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.gentle-hover-shake:hover {
  animation: tilt-shaking 0.45s infinite;
}

.shake {
  animation: tilt-shaking 0.45s infinite;
}

.flex-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-box {
  width: 300px;
  margin: 0.3em;
}

/* Media Query for Mobile Devices (vertical) */
@media (max-width: 480px) {
  .level-box {
    width: 115px;
  }
}

/* Media Query for Mobile Devices (horizontal) */
@media (min-width: 481px) and (max-width: 980px) {
  .level-box {
    width: 170px;
  }
}

.level-box:hover {
  border: 1px solid white;
}

.caption {
  color: white;
  text-decoration: none;
}

.card-flex {
  max-height: 100vh;
  max-width: 90vw;
  /* overflow:scroll; */
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: auto;
}

/* style for easy difficulty */
.card-box44 {
  
  width: 18vw;
  height: 20vh;
  animation: slide-in 1s;
}
/* Mobile Devices (vertical) */
@media (max-width: 480px) {
  .card-box44 {
    width: 20vw;
    height: 11vh;
  }
}

.card-box44 img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  
}

/* style for medium difficulty (24 cards) */
.card-box64 {
  
  width: 14vw;
  height: 20vh;
  animation: slide-in 1s;
}
.card-box64 img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
/* Mobile Devices (vertical) */
@media (max-width: 480px) {
  .card-box64 {
    width: 20vw;
    height: 11vh;
  }
}

/* style for 30 cards (hard) */
.card-box65 {
  width: 14vw;
  height: 20vh;
  animation: slide-in 1s;
}

.card-box65 img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/* Mobile Devices (vertical) */
@media (max-width: 480px) {
  .card-box65 {
    width: 15vw;
    height: 11vh;
  }
}


@keyframes slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

nav {
  
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  margin: 1em;
}

.right {
  margin-left: auto;
}

.game_info {
  font-size: medium;
  
  color: white;
  padding: 0.5em;
  
}


/* Media Query for Mobile Devices (vertical) */
@media (max-width: 480px) {
  .game_info {
    font-size: small;
    padding: 0.5em;
    border:none;
  }
}

button {
  font-size: medium;
  background-color: #ed1d24;
  color: white;
  padding: 0.5em;
  border: none;
}

button:hover {
  background-color: black;
  cursor: pointer;
}

.card_deck {
  width: min-content;
  cursor: pointer;
  width: 15em;
  margin-top: 4em;
}

/* Media Query for Mobile Devices (horizontal) */
@media (min-width: 481px) and (max-width: 980px) {
  .card_deck {
    width: 160px;
  }
}

/* Media Query for Mobile Devices (vertical) */
@media (max-width: 480px) {
  .card_deck {
    margin-top: 6em;
    width: 200px;
  }
}

.hidetooltip {
  display: none;
}

@media (max-width: 480px) {
  .hidetooltip {
    display: block;
  }
}

.hidden {
  display: none;
}

@keyframes wobble {
  0%,
  10% {
    transform: rotateY(0turn);
  }
  50% {
    transform: rotateY(0.5turn) scale(0.5);
  }
  90%,
  100% {
    transform: rotateY(1turn);
  }
}
